[submodule "puppet/modules/openvpn"]
	path = puppet/modules/openvpn
	url = https://leap.se/git/puppet_openvpn
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://leap.se/git/puppet_concat
[submodule "puppet/modules/sshd"]
	path = puppet/modules/sshd
	url = https://leap.se/git/puppet_sshd
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://leap.se/git/puppet_apt
[submodule "puppet/modules/lsb"]
	path = puppet/modules/lsb
	url = https://leap.se/git/puppet_lsb
[submodule "puppet/modules/ntp"]
	path = puppet/modules/ntp
	url = https://leap.se/git/puppet_ntp.git
[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = https://leap.se/git/puppet_git
[submodule "puppet/modules/common"]
	path = puppet/modules/common
	url = https://leap.se/git/puppet_common
[submodule "puppet/modules/shorewall"]
	path = puppet/modules/shorewall
	url = https://leap.se/git/puppet_shorewall
[submodule "puppet/modules/resolvconf"]
	path = puppet/modules/resolvconf
	url = https://leap.se/git/puppet_resolvconf.git
[submodule "puppet/modules/couchdb"]
	path = puppet/modules/couchdb
	url = https://leap.se/git/puppet_couchdb 
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://leap.se/git/puppet_apache
[submodule "puppet/modules/bundler"]
	path = puppet/modules/bundler
	url = https://leap.se/git/puppet_bundler
[submodule "puppet/modules/rubygems"]
	path = puppet/modules/rubygems
	url = https://leap.se/git/puppet_rubygems
[submodule "puppet/modules/ruby"]
	path = puppet/modules/ruby
	url = https://leap.se/git/puppet_ruby
[submodule "puppet/modules/x509"]
	path = puppet/modules/x509
	url = https://leap.se/git/puppet_x509
[submodule "puppet/modules/passenger"]
	path = puppet/modules/passenger
	url = https://leap.se/git/puppet_passenger
[submodule "puppet/modules/augeas"]
	path = puppet/modules/augeas
	url = https://leap.se/git/puppet_augeas
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://leap.se/git/puppet_stdlib
[submodule "puppet/modules/unbound"]
	path = puppet/modules/unbound
	url = https://leap.se/git/puppet_unbound
[submodule "puppet/modules/nagios"]
	path = puppet/modules/nagios
	url = https://leap.se/git/puppet_nagios
[submodule "puppet/modules/tor"]
	path = puppet/modules/tor
	url = https://leap.se/git/puppet_tor
[submodule "puppet/modules/stunnel"]
	path = puppet/modules/stunnel
	url = https://leap.se/git/puppet_stunnel
[submodule "puppet/modules/haproxy"]
	path = puppet/modules/haproxy
	url = https://leap.se/git/puppet_haproxy
[submodule "puppet/modules/squid_deb_proxy"]
	path = puppet/modules/squid_deb_proxy
	url = https://leap.se/git/puppet_squid_deb_proxy
[submodule "puppet/modules/postfix"]
	path = puppet/modules/postfix
	url = https://leap.se/git/puppet_postfix
[submodule "puppet/modules/vcsrepo"]
	path = puppet/modules/vcsrepo
	url = https://leap.se/git/puppet_vcsrepo
[submodule "puppet/modules/rsyslog"]
	path = puppet/modules/rsyslog
	url = https://leap.se/git/puppet_rsyslog
[submodule "puppet/modules/backupninja"]
	path = puppet/modules/backupninja
	url = https://leap.se/git/puppet_backupninja
[submodule "puppet/modules/sysctl"]
	path = puppet/modules/sysctl
	url = https://leap.se/git/puppet_sysctl
[submodule "puppet/modules/check_mk"]
	path = puppet/modules/check_mk
	url = https://git.codecoop.org/varacanero/puppet_check_mk.git
