/tests/example-provider/.vagrant

/puppet/modules/site_custom

/tests/platform-ci/.bundle
/tests/platform-ci/vendor
/tests/platform-ci/bin
/tests/platform-ci/Gemfile.lock
/tests/platform-ci/provider/cloud.json
/tests/platform-ci/provider/facts.json
/tests/platform-ci/provider/hiera
/tests/platform-ci/provider/secrets.json
/tests/platform-ci/provider/files/ssh/authorized_keys
/tests/platform-ci/provider/files/ssh/known_hosts
/tests/platform-ci/provider/files/nodes/
/tests/platform-ci/provider/nodes/*
!/tests/platform-ci/provider/nodes/catalogtest.json
/tests/platform-ci/provider/tags/*
!/tests/platform-ci/provider/tags/catalogtest.json
/tests/platform-ci/provider/users/*
!/tests/platform-ci/provider/users/gitlab-runner
/tests/platform-ci/provider/users/gitlab-runner/*
!/tests/platform-ci/provider/users/gitlab-runner/gitlab-runner_ssh.pub
/tests/platform-ci/provider/test

/builds

/.ruby-version
/.rbenv-gemsets
