# config values used by configure-leap.sh
provider_domain='example.org'
provider_name='Leap Example Provider'
contacts="no-reply@$provider_domain"

# serivces that get configured
# note that the "openvpn" service does currently *not* work
# in a vagrant setup,
# see https://leap.se/en/docs/platform/troubleshooting/known-issues#Special.Environments
services='webapp,mx,couchdb,soledad,monitor'


