# provider config values used by vagrant provision scripts
provider_domain='example.org'
provider_name='Leap Example Provider'
contacts="no-reply@$provider_domain"

# serivces that get configured
# note that the "openvpn" service does currently *not* work
# in a vagrant setup,
# see https://leap.se/en/docs/platform/troubleshooting/known-issues#Special.Environments
# to speed up things, don't deploy monitor service by default
# services='webapp,mx,couchdb,soledad,monitor'
services='webapp,mx,couchdb,soledad'

# default vars used by vagrant provision scripts
OPTS=''
USER='vagrant'
NODE='node1'
SUDO="sudo -u ${USER}"
PROVIDERDIR="/home/${USER}/leap/configuration"
PLATFORMDIR="/srv/leap_platform"
LEAP="$SUDO /usr/local/bin/leap"
GIT="$SUDO git"

